<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizAPP</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section>
        <div class="QuizAPP">
            <button>Quiz Start</button>
        </div>
    </section>
    <section class="quiz_box">
        <header>
            <div class="title">Awesome Quize Application</div>
            <div class="timer">
                <div class="time_text">time left</div>
                <div class="timer_sec">15</div>
            </div>
        </header>
        <div class="que_text">
            <!-- <span>what dose HTML Stand For ?</span> -->
        </div>
        <div class="option_list">
        </div>
        <div class="total_que">
            
        </div>
        <button class="next_btn">Next Que</button>
    </section>
    <section class="scor-box">
        
    </section>
    <!-- <script></script> -->
    <script src="../script/index.js"></script>
</body>
</html>