<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizAPP Add</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <section class="QuizADD">
        <form action="/QuizADD" method="post">
            <label for="">questions :</label>
            <input type="text" placeholder="questions" name="questions" required><br>
            <label for="">option1 :</label>
            <input type="text" placeholder="option1" name="option1" required><br>
            <label for="">option2 :</label>
            <input type="text" placeholder="option2" name="option2" required><br>
            <label for="">option3 :</label>
            <input type="text" placeholder="option3" name="option3" required><br>
            <label for="">option4 :</label>
            <input type="text" placeholder="option4" name="option4" required><br>
            <label for="">Answer :</label>
            <input type="text" placeholder="Answer" name="Answer" required><br>
            <input type="submit" value="submit" id="QuizADDbtn">
        </form>
    </section>
    
</body>
</html>